.TileList {
  list-style-type: none;
  display: flex;
}
.TileButton {
  background-color: lightgreen;
  color: black;
  border-radius: 4px;
  margin: 4px;
  border-width: 1px;
  cursor: pointer;
}
.configOption {
  display: flex;
  align-items: center;
}