.App {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 20px;
  height: 100%;
  background-color: #eee;
}

.App-header {
  min-height: 40px;
  display: flex;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
  border-radius: 10px;
}

.App-title {
  margin: 0 8px;

}
